infra/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: DraftCode serverless NBA draft intelligence architecture.

Parameters:
  DraftDataS3Prefix:
    Type: String
    Default: ""
    Description: Optional S3 prefix containing processed draft input CSVs.
  DraftCodeDraws:
    Type: String
    Default: "1000"
    AllowedPattern: "^[0-9]+$"
    Description: Default Monte Carlo draw count for simulation runs.
  DraftCodeSeed:
    Type: String
    Default: "42"
    AllowedPattern: "^[0-9]+$"
    Description: Default random seed for deterministic simulation runs.
  DraftCodeSwarmShards:
    Type: String
    Default: "10"
    AllowedPattern: "^[0-9]+$"
    Description: Default Scenario Swarm shard count.
  EnableBedrockGuardrail:
    Type: String
    Default: "false"
    AllowedValues:
      - "true"
      - "false"
    Description: >-
      Provision a Bedrock Guardrail for LLM scouting output. Keep "false" on
      accounts without Bedrock enablement (this account is region-blocked); flip
      to "true" once the hackathon host account with Bedrock access is used.

Conditions:
  CreateBedrockGuardrail: !Equals [!Ref EnableBedrockGuardrail, "true"]

Globals:
  Function:
    Architectures:
      - arm64
    Timeout: 300
    MemorySize: 2048
    Tracing: Active
    Environment:
      Variables:
        DRAFTCODE_DATA_DIR: /var/task/data/sample
        DRAFTCODE_DATA_S3_PREFIX: !Ref DraftDataS3Prefix
        DRAFTCODE_DRAWS: !Ref DraftCodeDraws
        DRAFTCODE_SEED: !Ref DraftCodeSeed
        DRAFTCODE_SWARM_SHARDS: !Ref DraftCodeSwarmShards
        DRAFTCODE_AWS_REGION: !Ref AWS::Region
        DRAFTCODE_S3_BUCKET: !Ref DraftDataBucket
        DRAFTCODE_DYNAMODB_TABLE: !Ref PredictionRunsTable
        DRAFTCODE_KMS_KEY_ID: !Ref DraftCodeKey
        # Bearer token for the external gpt-5.5 gateway is read from Secrets
        # Manager at runtime (never baked into the image or env).
        DRAFTCODE_LLM_SECRET_ARN: !Ref GatewayApiKeySecret
        DRAFTCODE_BEDROCK_MODEL_ID: anthropic.claude-3-5-sonnet-20240620-v1:0

Resources:
  # Customer-managed CMK: one auditable key for S3 objects, the DynamoDB run
  # ledger, and the gpt-5.5 gateway secret. Rotation is on; access is delegated
  # to IAM (root statement) plus the specific AWS services that encrypt at rest.
  DraftCodeKey:
    Type: AWS::KMS::Key
    Properties:
      Description: !Sub "Customer-managed CMK for ${AWS::StackName} S3, DynamoDB, and secrets."
      EnableKeyRotation: true
      KeyPolicy:
        Version: '2012-10-17'
        Statement:
          - Sid: EnableIAMUserPermissions
            Effect: Allow
            Principal:
              AWS: !Sub arn:aws:iam::${AWS::AccountId}:root
            Action: kms:*
            Resource: "*"
          - Sid: AllowServiceEncryptionAtRest
            Effect: Allow
            Principal:
              Service:
                - s3.amazonaws.com
                - dynamodb.amazonaws.com
                - secretsmanager.amazonaws.com
            Action:
              - kms:Decrypt
              - kms:GenerateDataKey*
              - kms:DescribeKey
              - kms:CreateGrant
            Resource: "*"

  DraftCodeKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/${AWS::StackName}-cmk
      TargetKeyId: !Ref DraftCodeKey

  # Bearer token + base URL for the external OpenAI-compatible gpt-5.5 gateway.
  # Provisioned encrypted with the CMK; the value is rotated/overwritten out of
  # band (the real EC2 gateway URL is not committed).
  GatewayApiKeySecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Sub "${AWS::StackName}-gpt55-gateway"
      Description: Bearer token and base URL for the external gpt-5.5 gateway.
      KmsKeyId: !Ref DraftCodeKey
      GenerateSecretString:
        SecretStringTemplate: '{"base_url":"http://REPLACE_WITH_GATEWAY_HOST:8787"}'
        GenerateStringKey: api_key
        PasswordLength: 32
        ExcludePunctuation: true

  # Optional Bedrock Guardrail (disabled by default; this account is Bedrock
  # region-blocked). Demonstrates the content/PII safety posture for the host
  # account where Bedrock is available.
  DraftCodeGuardrail:
    Type: AWS::Bedrock::Guardrail
    Condition: CreateBedrockGuardrail
    Properties:
      Name: !Sub "${AWS::StackName}-scouting-guardrail"
      Description: Content and PII guardrail for DraftCode LLM scouting output.
      BlockedInputMessaging: "Blocked by DraftCode guardrails."
      BlockedOutputsMessaging: "Response withheld by DraftCode guardrails."
      ContentPolicyConfig:
        FiltersConfig:
          - Type: HATE
            InputStrength: HIGH
            OutputStrength: HIGH
          - Type: INSULTS
            InputStrength: MEDIUM
            OutputStrength: MEDIUM
          - Type: VIOLENCE
            InputStrength: HIGH
            OutputStrength: HIGH
          - Type: MISCONDUCT
            InputStrength: HIGH
            OutputStrength: HIGH
      SensitiveInformationPolicyConfig:
        PiiEntitiesConfig:
          - Type: EMAIL
            Action: ANONYMIZE
          - Type: PHONE
            Action: ANONYMIZE
          - Type: NAME
            Action: ANONYMIZE

  DraftDataBucket:
    Type: AWS::S3::Bucket
    Properties:
      VersioningConfiguration:
        Status: Enabled
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: !GetAtt DraftCodeKey.Arn
            BucketKeyEnabled: true
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      LifecycleConfiguration:
        Rules:
          - Id: ExpireIntermediateArtifacts
            Status: Enabled
            Prefix: intermediate/
            ExpirationInDays: 7

  # Deny any non-TLS access to the data bucket (encryption in transit).
  DraftDataBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref DraftDataBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: DenyInsecureTransport
            Effect: Deny
            Principal: "*"
            Action: "s3:*"
            Resource:
              - !GetAtt DraftDataBucket.Arn
              - !Sub "${DraftDataBucket.Arn}/*"
            Condition:
              Bool:
                aws:SecureTransport: "false"

  PredictionRunsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: run_id
          AttributeType: S
      KeySchema:
        - AttributeName: run_id
          KeyType: HASH
      SSESpecification:
        SSEEnabled: true
        SSEType: KMS
        KMSMasterKeyId: !Ref DraftCodeKey
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      TimeToLiveSpecification:
        AttributeName: expires_at
        Enabled: true

  PredictionFunction:
    Type: AWS::Serverless::Function
    Properties:
      PackageType: Image
      Description: Generates auditable NBA draft predictions.
      # ReservedConcurrentExecutions omitted: a fresh account's default Lambda
      # concurrency limit is 10; reserving any capacity drops unreserved below the
      # required minimum of 10 and fails creation. Re-enable after a limit increase.
      Policies:
        - AWSLambdaBasicExecutionRole
        - S3ReadPolicy:
            BucketName: !Ref DraftDataBucket
        - DynamoDBWritePolicy:
            TableName: !Ref PredictionRunsTable
        - Statement:
            # CMK use for KMS-encrypted S3 objects, DynamoDB items, and the secret.
            - Effect: Allow
              Action:
                - kms:Decrypt
                - kms:GenerateDataKey
                - kms:DescribeKey
              Resource: !GetAtt DraftCodeKey.Arn
            # Least-privilege read of just the gpt-5.5 gateway secret.
            - Effect: Allow
              Action:
                - secretsmanager:GetSecretValue
              Resource: !Ref GatewayApiKeySecret
            # Bedrock left in place for the host account; this account is blocked.
            - Effect: Allow
              Action:
                - bedrock:InvokeModel
                - bedrock:InvokeModelWithResponseStream
              Resource: !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/*
            - Effect: Allow
              Action:
                - s3:GetObject
                - s3:PutObject
              Resource: !Sub "${DraftDataBucket.Arn}/runs/*"
            - Effect: Allow
              Action:
                - s3:ListBucket
              Resource: !GetAtt DraftDataBucket.Arn
      Events:
        PredictionApi:
          Type: Api
          Properties:
            Path: /predictions
            Method: GET
    Metadata:
      DockerContext: ..
      Dockerfile: Dockerfile.lambda
      DockerTag: draftcode-predictor-python312

  PredictionWorkflow:
    Type: AWS::Serverless::StateMachine
    Properties:
      Type: STANDARD
      Tracing:
        Enabled: true
      Definition:
        Comment: Auditable serverless workflow for NBA draft prediction runs.
        StartAt: GeneratePrediction
        States:
          GeneratePrediction:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !GetAtt PredictionFunction.Arn
              Payload:
                action: simulate
                run_mode: workflow
            ResultPath: $.prediction
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
            Next: PersistRun
          PersistRun:
            Type: Task
            Resource: arn:aws:states:::dynamodb:putItem
            Parameters:
              TableName: !Ref PredictionRunsTable
              Item:
                run_id:
                  S.$: $.prediction.Payload.run_id
                created_at:
                  S.$: $.prediction.Payload.generated_at
                mode:
                  S.$: $.prediction.Payload.mode
                draws:
                  N.$: States.Format('{}', $.prediction.Payload.draws)
                average_confidence:
                  N.$: States.Format('{}', $.prediction.Payload.average_confidence)
                status:
                  S: completed
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref PredictionFunction
        - DynamoDBWritePolicy:
            TableName: !Ref PredictionRunsTable
        # putItem into a KMS-encrypted table requires data-key generation.
        - Statement:
            - Effect: Allow
              Action:
                - kms:Decrypt
                - kms:GenerateDataKey
              Resource: !GetAtt DraftCodeKey.Arn

  ScenarioSwarmWorkflow:
    Type: AWS::Serverless::StateMachine
    Properties:
      Type: STANDARD
      Tracing:
        Enabled: true
      Definition:
        Comment: Distributed Map workflow for parallel Monte Carlo Scenario Swarm runs.
        StartAt: PrepareRun
        States:
          PrepareRun:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !GetAtt PredictionFunction.Arn
              Payload:
                action: prepare_swarm
                execution_input.$: $
            ResultPath: $.prepared
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
            Next: ScenarioSwarm
          ScenarioSwarm:
            Type: Map
            ItemsPath: $.prepared.Payload.shards
            MaxConcurrency: 10
            ResultPath: $.shards
            ItemProcessor:
              ProcessorConfig:
                Mode: DISTRIBUTED
                ExecutionType: STANDARD
              StartAt: RunShard
              States:
                RunShard:
                  Type: Task
                  Resource: arn:aws:states:::lambda:invoke
                  Parameters:
                    FunctionName: !GetAtt PredictionFunction.Arn
                    Payload.$: $
                  Retry:
                    - ErrorEquals:
                        - Lambda.ServiceException
                        - Lambda.AWSLambdaException
                        - Lambda.SdkClientException
                      IntervalSeconds: 2
                      MaxAttempts: 3
                      BackoffRate: 2
                  End: true
            Next: Aggregate
          Aggregate:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !GetAtt PredictionFunction.Arn
              Payload:
                action: aggregate
                run_id.$: $.prepared.Payload.run_id
                bucket.$: $.prepared.Payload.bucket
                shards_prefix.$: $.prepared.Payload.shards_prefix
                draws.$: $.prepared.Payload.effective_draws
                seed.$: $.prepared.Payload.seed
                temperature.$: $.prepared.Payload.temperature
                top_k.$: $.prepared.Payload.top_k
                weight_jitter.$: $.prepared.Payload.weight_jitter
                signal_jitter.$: $.prepared.Payload.signal_jitter
                need_jitter.$: $.prepared.Payload.need_jitter
                board_jitter.$: $.prepared.Payload.board_jitter
                low_confidence_threshold.$: $.prepared.Payload.low_confidence_threshold
                wingspan_threshold.$: $.prepared.Payload.wingspan_threshold
            ResultPath: $.aggregate
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref PredictionFunction
        - DynamoDBWritePolicy:
            TableName: !Ref PredictionRunsTable
        - S3ReadPolicy:
            BucketName: !Ref DraftDataBucket
        - S3WritePolicy:
            BucketName: !Ref DraftDataBucket
        - Statement:
            - Effect: Allow
              Action:
                - kms:Decrypt
                - kms:GenerateDataKey
              Resource: !GetAtt DraftCodeKey.Arn
        # Distributed Map re-enters this same state machine; scope StartExecution
        # and execution control to this state machine family instead of "*".
        - Statement:
            - Effect: Allow
              Action:
                - states:StartExecution
              Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ScenarioSwarmWorkflow*"
            - Effect: Allow
              Action:
                - states:DescribeExecution
                - states:StopExecution
              Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:execution:ScenarioSwarmWorkflow*:*"

Outputs:
  PredictionApiUrl:
    Description: API Gateway endpoint for prediction runs.
    Value: !Sub "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/predictions"
  PredictionWorkflowArn:
    Description: Step Functions workflow for auditable prediction runs.
    Value: !Ref PredictionWorkflow
  ScenarioSwarmWorkflowArn:
    Description: Step Functions Distributed Map workflow for Scenario Swarm runs.
    Value: !Ref ScenarioSwarmWorkflow
  DraftDataBucketName:
    Description: KMS-encrypted S3 bucket for raw, processed, and prediction artifacts.
    Value: !Ref DraftDataBucket
  PredictionRunsTableName:
    Description: DynamoDB run ledger table (KMS-encrypted).
    Value: !Ref PredictionRunsTable
  DraftCodeKeyArn:
    Description: Customer-managed CMK ARN for the DraftCode data plane.
    Value: !GetAtt DraftCodeKey.Arn
  GatewayApiKeySecretArn:
    Description: Secrets Manager ARN holding the gpt-5.5 gateway bearer token.
    Value: !Ref GatewayApiKeySecret
